:root {
  --var-primary-1: #5e42d7;
  --var-primary-2: #7d73fc;
  --var-primary-3: #9390ff;
  --var-secondary-1: #edecff;
  --var-secondary-2: #2a2b33;
  --var-secondary-3: #c8c8d4;
  --var-neutral-1: #f5f5ff;
  --var-neutral-2: #fff;
  --var-neutral-3: #a2a3ae;
  --var-body-bgc: #ececff;
  --var-background: #191765;
  --var-par-text: #dcdce8;
}

/* set the default value to zero */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: scroll;
}

body {
  font-family: "Roboto", "Inter", sans-serif;
  background-color: var(--var-background);
  margin: auto;
  text-align: center;
  background-image: url("./image/upper-left.png");
  background-repeat: no-repeat;
  background-position: -1rem 4rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--var-neutral-2);
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 1.5rem;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 3.75rem;
  margin-bottom: 3.8rem;
}

.logo {
  font-size: 1.2rem;
}

.menu-content {
  display: none;
}

.menu > a > i {
  font-size: 1.5rem;
  padding-right: 1rem;
}

.headline-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline-content h1 {
  font-size: 3rem;
  color: var(--var-primary-2);
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  font-weight: 700;
  font-style: normal;
}

.headline-content h2 {
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  padding: 1rem 0;
  color: var(--var-secondary-1);
}

.headline-content p {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  color: var(--var-secondary-3);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.skill {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  text-align: left;
  padding: 2rem 2rem;
  position: relative;
}

.circle {
  position: absolute;
  top: 40px;
  right: -50px;
  z-index: -1;
}

.card-lang-list ul {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  float: left;
  margin: 1rem 0 2rem 0.75rem;
}

.card-lang-list ul li {
  font-family: "Inter", sans-serif;
  font-size: 0.93rem;
  font-weight: 500;
  font-style: normal;
  color: var(--var-neutral-2);
  float: left;
  padding: 0.5rem;
}

.card-lang-list img {
  position: absolute;
  top: 15px;
}

.card-lang-list {
  position: relative;
}

.skill .lists li {
  font-size: 0.93rem;
  color: var(--var-neutral-1);
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
}

.skill .lists li:first-child {
  color: var(--var-primary-3);
  font-size: 0.75rem;
}

.div-icons .social-media-icons {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  font-size: 0.65rem;
  margin: 2rem auto;
}

#work-invisible {
  display: none;
}

.work {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
  color: var(--var-neutral-3);
  margin-bottom: 1rem;
}

/* Work section */
.work-heading {
  text-align: left;
  margin-top: 5rem;
  margin-bottom: 2.2rem;
  font-size: 2.5rem;
  font-weight: 500;
  font-style: normal;
  color: var(--var-primary-3);
  line-height: 3.25rem;
}

.cards {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 4rem;
  margin-top: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-text h2 {
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  color: var(--var-neutral-2);
  margin-bottom: 3rem;
  margin-top: 1rem;
  text-align: left;
}

.card-text p {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75rem;
  color: var(--var-par-text);
  text-align: left;
  margin-bottom: 1.5rem;
}

.btn {
  clear: both;
  font-size: 0.75rem;
  padding: 0.75rem;
  display: flex;
  justify-self: start;
  color: var(--var-secondary-1);
  background-color: var(--var-primary-1);
  border: none;
}

.btn:hover {
  background: var(--var-primary-2);
  color: var(--var-neutral-2);
}

.btn:active {
  background: var(--var-primary-1);
}

.btn:focus {
  background: var(--var-primary-1);
}

.btn:disabled {
  background: var(--var-secondary-2);
}

.card-content {
  position: relative;
}

.background-img-m1 {
  position: absolute;
  top: -13rem;
  left: -2rem;
  z-index: -1;
}

.background-img-m2 {
  position: absolute;
  top: -12rem;
  right: -2rem;
  z-index: -1;
}

.background-img-m3 {
  position: absolute;
  top: -5rem;
  left: -2rem;
  z-index: -1;
}

.background-img-m4 {
  position: absolute;
  top: -2.7rem;
  right: -2rem;
  z-index: -1;
}

/* Footer */

footer {
  margin-top: 7.5rem;
}

.let-chat {
  display: none;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--var-primary-3);
  margin-bottom: 1.5rem;
}

.footer-text .contact-us {
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  color: var(--var-primary-3);
  text-align: center;
  margin-bottom: 1.5rem;
}

.footer-text p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0;
  text-align: center;
  color: var(--var-neutral-1);
  margin-bottom: 2.5rem;
}

.text-input input,
.email-input input,
.text-area textarea {
  width: 100%;
  margin: 1rem 0;
  padding: 0.9rem 1rem;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}

.text-area textarea {
  height: 9.25rem;
  margin-bottom: 1.5rem;
}

.center-align {
  margin: 0 auto;
}

.contact-btn {
  margin-bottom: 4.5rem;
}

.center-align-btn {
  display: none;
  font-size: 0.75rem;
  padding: 0.75rem 2rem;
  justify-self: start;
  color: var(--var-secondary-1);
  background-color: var(--var-primary-1);
  border: none;
}

.footer-line-image {
  display: none;
}

.text-2 {
  display: none;
}

/* Media query: for larger mobile size screen */

@media only screen and (min-width: 500px) and (max-width: 767px) {
  .headline-content p {
    max-width: 60%;
    margin: 0 auto;
    letter-spacing: 0.05rem;
    text-align: center;
  }

  .skill {
    display: flex;
    justify-content: center;
  }

  .work-line-img {
    display: flex;
  }
}

/* Media query for medium size screen */

@media only screen and (min-width: 768px) and (max-width: 999px) {
  .headline-content h1 {
    font-size: 3.625rem;
  }

  .headline-content h2 {
    font-size: 2.3rem;
    margin-bottom: 1.8rem;
  }

  .navbar {
    margin-top: 1.6rem;
    width: 100%;
  }

  .humberger {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu-content {
    display: flex;
    gap: 4rem;
    margin-right: 3rem;
  }

  .headline-content p {
    max-width: 45%;
    margin: 0 auto;
    letter-spacing: 0.05rem;
    text-align: center;
    line-height: 2rem;
  }

  .skill {
    display: flex;
    justify-content: center;
  }

  .work-line-img {
    display: flex;
  }

  .work-social-media {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #work-invisible {
    display: block;
  }

  .cards {
    display: grid;
    grid-template-columns: auto;
    gap: 4rem;
  }

  .card {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .img-placeholder {
    width: 100%;
    max-width: 60%;
  }

  .card-content {
    width: 100%;
    max-width: 35%;
  }

  .even {
    display: flex;
    flex-direction: row-reverse;
  }

  .footer-text .contact-us {
    display: none;
  }

  .let-chat {
    display: block;
  }

  .center-align-btn {
    display: flex;
    margin: 0 auto;
  }

  .center-align {
    display: none;
  }

  .footer-content {
    width: 50%;
    margin: 0 auto;
  }

  .footer-mob-line-image {
    display: none;
  }

  .footer-line-image {
    display: block;
  }

  #footer-div-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .div-icons .social-media-icons {
    margin: 2rem 0;
  }

  .circle {
    display: none;
  }

  .background-img-m1 {
    display: none;
  }

  .background-img-m2 {
    display: none;
  }

  .background-img-m3 {
    display: none;
  }

  .background-img-m4 {
    display: none;
  }

  .text-2 {
    display: flex;
  }

  .text-input {
    display: flex;
    gap: 2%;
  }
}

/* Media query: for desktop and large size screen */
@media only screen and (min-width: 1000px) {
  body {
    background-position: -8rem 4rem;
    background-image: url("image/desktop-version-icons/circle\ -1-header.png");
    background-repeat: no-repeat;
    background-position-x: 2rem;
    background-position-y: 7rem;
    margin: 0 auto;
  }

  .headline-content h1 {
    font-size: 4.625rem;
  }

  .headline-content h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .logo {
    position: relative;
    animation-name: logo;
    transition-property: transform, font-size;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }

  @keyframes logo {
    25% {
      left: 100rem;
      top: 100rem;
      font-size: 1.6rem;
      font-weight: 500;
    }

    100% {
      left: 1rem;
      top: 1rem;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }

  .logo:hover {
    transform: rotate(-5deg);
    font-size: 1.5rem;
  }

  .container {
    margin: 0 auto;
    padding: 0 8.875rem;
    background-image: url("image/desktop-version-icons/circle-2-header.png");
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 7%;
  }

  .navbar {
    margin-top: 1.6rem;
    width: 100%;
  }

  .humberger {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu-content {
    display: flex;
    gap: 3.5rem;
  }

  .headline-content p {
    max-width: 45%;
    margin: 0 auto;
    letter-spacing: 0.05rem;
    text-align: center;
    line-height: 2rem;
  }

  .skill {
    display: flex;
    justify-content: center;
  }

  .work-line-img {
    display: flex;
  }

  .work-social-media {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #work-invisible {
    display: block;
  }

  .cards {
    display: grid;
    grid-template-columns: auto;
    gap: 4rem;
  }

  .card {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .img-placeholder {
    width: 100%;
    max-width: 60%;
    transition-property: transform, border-radius;
  }

  .img-placeholder:hover {
    transform: scale(1.1);
    border-radius: 1rem;
  }

  .card-content {
    width: 100%;
    max-width: 39%;
  }

  .circle {
    display: none;
  }

  .background-img-m1 {
    display: none;
  }

  .background-img-m2 {
    display: none;
  }

  .background-img-m3 {
    display: none;
  }

  .background-img-m4 {
    display: none;
  }

  .even {
    display: flex;
    flex-direction: row-reverse;
  }

  .footer-text .contact-us {
    display: none;
  }

  .footer-text p {
    position: relative;
    transition-property: transform, color;
  }

  .footer-text p:hover {
    transform: translate(70px, 0);
    color: violet;
  }

  .let-chat {
    display: block;
  }

  .center-align-btn {
    display: flex;
    margin: 0 auto;
    transition-property: color, background-color, font-size;
    transition-duration: 1s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
  }

  .center-align-btn:hover {
    color: var(--var-secondary-2);
    background-color: var(--var-secondary-3);
    font-size: 1.5rem;
  }

  .center-align {
    display: none;
  }

  .footer-content {
    width: 50%;
    margin: 0 auto;
  }

  .footer-mob-line-image {
    display: none;
  }

  .footer-line-image {
    display: block;
  }

  #footer-div-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .div-icons .social-media-icons {
    margin: 2rem 0;
  }

  .text-2 {
    display: block;
  }

  .text-input {
    display: flex;
    gap: 2%;
  }
}
